#app3 {
}

#app3 .square {
  margin-top: 10vw;
  margin-left: 10vw;
  width: 10vw;
  height: 10vw;
  transition: transform 1s;
  border: 1px solid black;
}

#app3 .square.active {
  transform: translateX(15vw);
  border-radius: 50%;
}
