#app4 {
}

@keyframes change {
  0% {
    background: black;
  }
  100% {
    background: brown;
  }
}
#app4 .circle {
  height: 30vw;
  width: 30vw;
  border-radius: 50%;
  border: 1px solid red;
}

#app4 .circle.active {
  animation: change 1s infinite alternate-reverse linear;
}
